## Settings file was created by plugin MoreUpgrades v1.4.8
## Plugin GUID: bulletbot.moreupgrades

[Increased Valuables (MoreValuablesUpgrade)]

## Whether the upgrade item can be spawned to the shop.
# Setting type: Boolean
# Default value: true
Enabled = true

## The maximum number of times the upgrade item can appear in the truck.
# Setting type: Int32
# Default value: 2
# Acceptable value range: From 0 to 1000
Max Amount = 5

## The maximum number of times the upgrade item can appear in the shop.
# Setting type: Int32
# Default value: 2
# Acceptable value range: From 0 to 1000
Max Amount In Shop = 5

## The minimum cost to purchase the upgrade item.
# Setting type: Single
# Default value: 15000
# Acceptable value range: From -1 to 100000
Minimum Price = 15000

## The maximum cost to purchase the upgrade item.
# Setting type: Single
# Default value: 20000
# Acceptable value range: From -1 to 100000
Maximum Price = 20000

## The scale of the price increase based on the total number of upgrade item purchased.
## Default scaling is set to 0.5. (Note: Other mods may modify this value, affecting the game's default scaling.)
## Set to -1 to use the default scaling.
# Setting type: Single
# Default value: 0.75
# Acceptable value range: From -1 to 100000
Price Increase Scaling = 0.5

## The maximum number of times the upgrade item can be purchased before it is no longer available in the shop.
## Set to 0 to disable the limit.
# Setting type: Int32
# Default value: 0
# Acceptable value range: From 0 to 1000
Max Purchase Amount = 0

## Whether the upgrade item applies to the entire team instead of just one player.
# Setting type: Boolean
# Default value: false
Allow Team Upgrades = false

## Whether the host should sync the item upgrade for the entire team.
# Setting type: Boolean
# Default value: false
Sync Host Upgrades = false

## The number of times the upgrade item is applied at the start of the game.
# Setting type: Int32
# Default value: 0
# Acceptable value range: From 0 to 1000
Starting Amount = 0

## The display name of the upgrade item.
# Setting type: String
# Default value: Increased Valuables
Display Name = Increased Valuables

## The amount of valuables to increase per upgrade bought.
# Setting type: Single
# Default value: 1.1
# Acceptable value range: From 1 to 2
Increase factor = 1.05

[Map Enemy Tracker]

## Whether the upgrade item can be spawned to the shop.
# Setting type: Boolean
# Default value: true
Enabled = true

## The maximum number of times the upgrade item can appear in the truck.
# Setting type: Int32
# Default value: 1
# Acceptable value range: From 0 to 1000
Max Amount = 1

## The maximum number of times the upgrade item can appear in the shop.
# Setting type: Int32
# Default value: 1
# Acceptable value range: From 0 to 1000
Max Amount In Shop = 1

## The minimum cost to purchase the upgrade item.
# Setting type: Single
# Default value: 50000
# Acceptable value range: From -1 to 100000
Minimum Price = 50000

## The maximum cost to purchase the upgrade item.
# Setting type: Single
# Default value: 60000
# Acceptable value range: From -1 to 100000
Maximum Price = 60000

## The scale of the price increase based on the total number of upgrade item purchased.
## Default scaling is set to 0.5. (Note: Other mods may modify this value, affecting the game's default scaling.)
## Set to -1 to use the default scaling.
# Setting type: Single
# Default value: 0
# Acceptable value range: From -1 to 100000
Price Increase Scaling = 0

## The maximum number of times the upgrade item can be purchased before it is no longer available in the shop.
## Set to 0 to disable the limit.
# Setting type: Int32
# Default value: 1
# Acceptable value range: From 0 to 1000
Max Purchase Amount = 1

## Whether the upgrade item applies to the entire team instead of just one player.
# Setting type: Boolean
# Default value: false
Allow Team Upgrades = true

## Whether the host should sync the item upgrade for the entire team.
# Setting type: Boolean
# Default value: false
Sync Host Upgrades = true

## The number of times the upgrade item is applied at the start of the game.
# Setting type: Int32
# Default value: 0
# Acceptable value range: From 0 to 1000
Starting Amount = 0

## The display name of the upgrade item.
# Setting type: String
# Default value: Map Enemy Tracker
Display Name = Map Enemy Tracker

## Whether the icon should appear as an arrow showing direction instead of a dot.
# Setting type: Boolean
# Default value: true
Arrow Icon = true

## The color of the icon.
# Setting type: Color
# Default value: FF0000FF
Color = FF0000FF

## Exclude specific enemies from displaying their icon by listing their names.
## Example: 'Gnome, Clown', seperated by commas.
# Setting type: String
# Default value: 
Exclude Enemies = 

[Map Player Tracker]

## Whether the upgrade item can be spawned to the shop.
# Setting type: Boolean
# Default value: true
Enabled = true

## The maximum number of times the upgrade item can appear in the truck.
# Setting type: Int32
# Default value: 1
# Acceptable value range: From 0 to 1000
Max Amount = 1

## The maximum number of times the upgrade item can appear in the shop.
# Setting type: Int32
# Default value: 1
# Acceptable value range: From 0 to 1000
Max Amount In Shop = 1

## The minimum cost to purchase the upgrade item.
# Setting type: Single
# Default value: 30000
# Acceptable value range: From -1 to 100000
Minimum Price = 30000

## The maximum cost to purchase the upgrade item.
# Setting type: Single
# Default value: 40000
# Acceptable value range: From -1 to 100000
Maximum Price = 40000

## The scale of the price increase based on the total number of upgrade item purchased.
## Default scaling is set to 0.5. (Note: Other mods may modify this value, affecting the game's default scaling.)
## Set to -1 to use the default scaling.
# Setting type: Single
# Default value: 0
# Acceptable value range: From -1 to 100000
Price Increase Scaling = 0

## The maximum number of times the upgrade item can be purchased before it is no longer available in the shop.
## Set to 0 to disable the limit.
# Setting type: Int32
# Default value: 1
# Acceptable value range: From 0 to 1000
Max Purchase Amount = 1

## Whether the upgrade item applies to the entire team instead of just one player.
# Setting type: Boolean
# Default value: false
Allow Team Upgrades = false

## Whether the host should sync the item upgrade for the entire team.
# Setting type: Boolean
# Default value: false
Sync Host Upgrades = false

## The number of times the upgrade item is applied at the start of the game.
# Setting type: Int32
# Default value: 0
# Acceptable value range: From 0 to 1000
Starting Amount = 0

## The display name of the upgrade item.
# Setting type: String
# Default value: Map Player Tracker
Display Name = Map Player Tracker

## Whether the icon should appear as an arrow showing direction instead of a dot.
# Setting type: Boolean
# Default value: true
Arrow Icon = true

## Whether the icon should be colored as the player.
# Setting type: Boolean
# Default value: false
Player Color = false

## The color of the icon.
# Setting type: Color
# Default value: 0000FFFF
Color = 0000FFFF

[Sprint Usage]

## Whether the upgrade item can be spawned to the shop.
# Setting type: Boolean
# Default value: true
Enabled = true

## The maximum number of times the upgrade item can appear in the truck.
# Setting type: Int32
# Default value: 10
# Acceptable value range: From 0 to 1000
Max Amount = 10

## The maximum number of times the upgrade item can appear in the shop.
# Setting type: Int32
# Default value: 2
# Acceptable value range: From 0 to 1000
Max Amount In Shop = 4

## The minimum cost to purchase the upgrade item.
# Setting type: Single
# Default value: 9000
# Acceptable value range: From -1 to 100000
Minimum Price = 9000

## The maximum cost to purchase the upgrade item.
# Setting type: Single
# Default value: 14000
# Acceptable value range: From -1 to 100000
Maximum Price = 14000

## The scale of the price increase based on the total number of upgrade item purchased.
## Default scaling is set to 0.5. (Note: Other mods may modify this value, affecting the game's default scaling.)
## Set to -1 to use the default scaling.
# Setting type: Single
# Default value: -1
# Acceptable value range: From -1 to 100000
Price Increase Scaling = -1

## The maximum number of times the upgrade item can be purchased before it is no longer available in the shop.
## Set to 0 to disable the limit.
# Setting type: Int32
# Default value: 0
# Acceptable value range: From 0 to 1000
Max Purchase Amount = 0

## Whether the upgrade item applies to the entire team instead of just one player.
# Setting type: Boolean
# Default value: false
Allow Team Upgrades = true

## Whether the host should sync the item upgrade for the entire team.
# Setting type: Boolean
# Default value: false
Sync Host Upgrades = true

## The number of times the upgrade item is applied at the start of the game.
# Setting type: Int32
# Default value: 0
# Acceptable value range: From 0 to 1000
Starting Amount = 0

## The display name of the upgrade item.
# Setting type: String
# Default value: Sprint Usage
Display Name = Sprint Usage

## Formula: energySprintDrain / (1 + (upgradeAmount * scalingFactor))
# Setting type: Single
# Default value: 0.1
# Acceptable value range: From -1 to 100000
Scaling Factor = 0.05

[Valuable Count]

## Whether the upgrade item can be spawned to the shop.
# Setting type: Boolean
# Default value: true
Enabled = true

## The maximum number of times the upgrade item can appear in the truck.
# Setting type: Int32
# Default value: 1
# Acceptable value range: From 0 to 1000
Max Amount = 1

## The maximum number of times the upgrade item can appear in the shop.
# Setting type: Int32
# Default value: 1
# Acceptable value range: From 0 to 1000
Max Amount In Shop = 1

## The minimum cost to purchase the upgrade item.
# Setting type: Single
# Default value: 30000
# Acceptable value range: From -1 to 100000
Minimum Price = 30000

## The maximum cost to purchase the upgrade item.
# Setting type: Single
# Default value: 40000
# Acceptable value range: From -1 to 100000
Maximum Price = 40000

## The scale of the price increase based on the total number of upgrade item purchased.
## Default scaling is set to 0.5. (Note: Other mods may modify this value, affecting the game's default scaling.)
## Set to -1 to use the default scaling.
# Setting type: Single
# Default value: 0
# Acceptable value range: From -1 to 100000
Price Increase Scaling = 0

## The maximum number of times the upgrade item can be purchased before it is no longer available in the shop.
## Set to 0 to disable the limit.
# Setting type: Int32
# Default value: 1
# Acceptable value range: From 0 to 1000
Max Purchase Amount = 1

## Whether the upgrade item applies to the entire team instead of just one player.
# Setting type: Boolean
# Default value: false
Allow Team Upgrades = false

## Whether the host should sync the item upgrade for the entire team.
# Setting type: Boolean
# Default value: false
Sync Host Upgrades = false

## The number of times the upgrade item is applied at the start of the game.
# Setting type: Int32
# Default value: 0
# Acceptable value range: From 0 to 1000
Starting Amount = 0

## The display name of the upgrade item.
# Setting type: String
# Default value: Valuable Count
Display Name = Valuable Count

## Whether to display the total value next to the valuable counter.
# Setting type: Boolean
# Default value: true
Display Total Value = true

