## Settings file was created by plugin More Shop Items v1.3.3
## Plugin GUID: MoreShopItems

[General]

## Overrides the values (MaxAmountInShop, MaxPurchaseAmount) set by other item/upgrade mods.
# Setting type: Boolean
# Default value: true
Override Modded Items = true

## Overrides the values (MaxAmountInShop, MaxPurchaseAmount) of single-use upgrades.
# Setting type: Boolean
# Default value: false
Override Single-Use Upgrades = false

## Spawns the additional shelving into the shop (set false to disable the shelf spawning).
# Setting type: Boolean
# Default value: true
Spawn Additional Shelving = true

[Health-Packs]

## How many of each health-pack to spawn in the shop.
# Setting type: Int32
# Default value: 15
# Acceptable value range: From -1 to 20
Max Health-Packs In Shop = 15

## How many health-packs you can purchase total. Set 0 to disable
# Setting type: Int32
# Default value: 0
# Acceptable value range: From 0 to 1000
Max Health-Pack Purchase Amount = 0

[Upgrades]

## How many of each upgrade to spawn in the shop.
# Setting type: Int32
# Default value: 5
# Acceptable value range: From -1 to 20
Max Upgrades In Shop = 5

## How many upgrades you can purchase total. Set 0 to disable
# Setting type: Int32
# Default value: 0
# Acceptable value range: From 0 to 1000
Max Upgrade Purchase Amount = 0

[Utilities]

## How many of each drone to spawn in the shop.
# Setting type: Int32
# Default value: 5
# Acceptable value range: From -1 to 20
Max Drones In Shop = 5

## How many drones you can purchase total. Set 0 to disable
# Setting type: Int32
# Default value: 0
# Acceptable value range: From 0 to 1000
Max Drone Purchase Amount = 0

## How many of each orb to spawn in the shop.
# Setting type: Int32
# Default value: 5
# Acceptable value range: From -1 to 20
Max Orbs In Shop = 5

## How many orbs you can purchase total. Set 0 to disable
# Setting type: Int32
# Default value: 0
# Acceptable value range: From 0 to 1000
Max Orb Purchase Amount = 0

## How many of each crystal to spawn in the shop.
# Setting type: Int32
# Default value: 5
# Acceptable value range: From -1 to 20
Max Crystals In Shop = 5

## How many crystals you can purchase total. Set 0 to disable
# Setting type: Int32
# Default value: 0
# Acceptable value range: From 0 to 1000
Max Crystal Purchase Amount = 0

## How many trackers to spawn in the shop.
# Setting type: Int32
# Default value: 5
# Acceptable value range: From -1 to 20
Max Trackers In Shop = 5

## How many trackers you can purchase total. Set 0 to disable
# Setting type: Int32
# Default value: 0
# Acceptable value range: From 0 to 1000
Max Tracker Purchase Amount = 0

[Weapons]

## How many of each melee weapon to spawn in the shop.
# Setting type: Int32
# Default value: 5
# Acceptable value range: From -1 to 20
Max Melee Weapons In Shop = 5

## How many melee weapons you can purchase total. Set 0 to disable
# Setting type: Int32
# Default value: 0
# Acceptable value range: From 0 to 1000
Max Melee Weapon Purchase Amount = 0

## How many of each gun to spawn in the shop.
# Setting type: Int32
# Default value: 5
# Acceptable value range: From -1 to 20
Max Guns In Shop = 5

## How many guns you can purchase total. Set 0 to disable
# Setting type: Int32
# Default value: 0
# Acceptable value range: From 0 to 1000
Max Gun Purchase Amount = 0

## How many of each grenade to spawn in the shop.
# Setting type: Int32
# Default value: 5
# Acceptable value range: From -1 to 20
Max Grenades In Shop = 5

## How many grenades you can purchase total. Set 0 to disable
# Setting type: Int32
# Default value: 0
# Acceptable value range: From 0 to 1000
Max Grenade Purchase Amount = 0

## How many of each mine to spawn in the shop.
# Setting type: Int32
# Default value: 5
# Acceptable value range: From -1 to 20
Max Mines In Shop = 5

## How many mines you can purchase total. Set 0 to disable
# Setting type: Int32
# Default value: 0
# Acceptable value range: From 0 to 1000
Max Mine Purchase Amount = 0

