## Settings file was created by plugin UniquePotions v1.0.0
## Plugin GUID: UniquePotions

[Gold Potion]

## Should this potion be craftable
# Setting type: Boolean
# Default value: true
Craftable = true

## Should this potion spawn in all maps
# Setting type: Boolean
# Default value: true
Spawn in all maps = true

## Should this potion spawn in Swiftbroom Academy
# Setting type: Boolean
# Default value: true
Spawn in Wizard = true

## Should this potion spawn in Headman Manor
# Setting type: Boolean
# Default value: true
Spawn in Manor = true

## Should this potion spawn in McJannek Station
# Setting type: Boolean
# Default value: true
Spawn in Arctic = true

## How much the gold potion should multiply the price of valuables by
# Setting type: Single
# Default value: 1.2
Money Multiplier = 1.2

[Gravity Potion]

## Should this potion be craftable
# Setting type: Boolean
# Default value: true
Craftable = true

## Should this potion spawn in all maps
# Setting type: Boolean
# Default value: true
Spawn in all maps = true

## Should this potion spawn in Swiftbroom Academy
# Setting type: Boolean
# Default value: true
Spawn in Wizard = true

## Should this potion spawn in Headman Manor
# Setting type: Boolean
# Default value: true
Spawn in Manor = true

## Should this potion spawn in McJannek Station
# Setting type: Boolean
# Default value: true
Spawn in Arctic = true

[Health Potion]

## Should this potion be craftable
# Setting type: Boolean
# Default value: true
Craftable = true

## Should this potion spawn in all maps
# Setting type: Boolean
# Default value: true
Spawn in all maps = true

## Should this potion spawn in Swiftbroom Academy
# Setting type: Boolean
# Default value: true
Spawn in Wizard = true

## Should this potion spawn in Headman Manor
# Setting type: Boolean
# Default value: true
Spawn in Manor = true

## Should this potion spawn in McJannek Station
# Setting type: Boolean
# Default value: true
Spawn in Arctic = true

## How much health the health potion should give players in multiplayer
# Setting type: Int32
# Default value: 20
Healing Multiplayer = 80

## How much health the health potion should give the player in singleplayer
# Setting type: Int32
# Default value: 40
Healing Solo = 120

## Percent of value the health potion should restore on damaged valuables
# Setting type: Single
# Default value: 0.1
Healing Valuables = 0.1

[Ingredient Cookie]

## Should this ingredient spawn
# Setting type: Boolean
# Default value: true
Enabled = true

[Ingredient Heart]

## Should this ingredient spawn
# Setting type: Boolean
# Default value: true
Enabled = true

[Ingredient Metal]

## Should this ingredient spawn
# Setting type: Boolean
# Default value: true
Enabled = true

[Ingredient Void]

## Should this ingredient spawn
# Setting type: Boolean
# Default value: true
Enabled = true

[Portal Potions]

## Should this potion be craftable
# Setting type: Boolean
# Default value: true
Craftable = true

## Should this potion spawn in all maps
# Setting type: Boolean
# Default value: false
Spawn in all maps = false

## Should this potion spawn in Swiftbroom Academy
# Setting type: Boolean
# Default value: false
Spawn in Wizard = false

## Should this potion spawn in Headman Manor
# Setting type: Boolean
# Default value: false
Spawn in Manor = false

## Should this potion spawn in McJannek Station
# Setting type: Boolean
# Default value: false
Spawn in Arctic = false

[Resurrection Potion]

## Should this potion be craftable
# Setting type: Boolean
# Default value: true
Craftable = true

## Should this potion spawn in all maps
# Setting type: Boolean
# Default value: true
Spawn in all maps = true

## Should this potion spawn in Swiftbroom Academy
# Setting type: Boolean
# Default value: true
Spawn in Wizard = true

## Should this potion spawn in Headman Manor
# Setting type: Boolean
# Default value: true
Spawn in Manor = true

## Should this potion spawn in McJannek Station
# Setting type: Boolean
# Default value: true
Spawn in Arctic = true

[Rocket Elixir]

## Should this elixir be purchaseable
# Setting type: Boolean
# Default value: true
Purchaseable = true

## Should this elixir be craftable
# Setting type: Boolean
# Default value: true
Craftable = true

## Should this elixir respawn and refill between levels
# Setting type: Boolean
# Default value: false
Refill between levels = false

## How much damage the rocket elixir should do to players
# Setting type: Int32
# Default value: 75
Player Damage = 75

## How much damage the rocket elixir should do to enemies
# Setting type: Int32
# Default value: 160
Enemy Damage = 160

[Singularity Potion]

## Should this potion be craftable
# Setting type: Boolean
# Default value: true
Craftable = true

## Should this potion spawn in all maps
# Setting type: Boolean
# Default value: true
Spawn in all maps = true

## Should this potion spawn in Swiftbroom Academy
# Setting type: Boolean
# Default value: true
Spawn in Wizard = true

## Should this potion spawn in Headman Manor
# Setting type: Boolean
# Default value: true
Spawn in Manor = true

## Should this potion spawn in McJannek Station
# Setting type: Boolean
# Default value: true
Spawn in Arctic = true

[Stamina Elixir]

## Should this elixir be purchaseable
# Setting type: Boolean
# Default value: true
Purchaseable = true

## Should this elixir be craftable
# Setting type: Boolean
# Default value: true
Craftable = true

## Should this elixir respawn and refill between levels
# Setting type: Boolean
# Default value: true
Refill between levels = true

[Unstable Potion]

## Should this potion be craftable
# Setting type: Boolean
# Default value: true
Craftable = true

## Should this potion spawn in all maps
# Setting type: Boolean
# Default value: true
Spawn in all maps = true

## Should this potion spawn in Swiftbroom Academy
# Setting type: Boolean
# Default value: true
Spawn in Wizard = true

## Should this potion spawn in Headman Manor
# Setting type: Boolean
# Default value: true
Spawn in Manor = true

## Should this potion spawn in McJannek Station
# Setting type: Boolean
# Default value: true
Spawn in Arctic = true

